.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}


.list-group-item:hover{
	background-color:#c6c6c6;
}

.form-read-only{
    background:none;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color:transparent;
    border:1px solid #fff;
}