span.error{
    color:red;
    font-size:12px;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -50px 0px 0px -50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.chat-container{
	height:400px;
	overflow: scroll;
	overflow-x:hidden;
	position:relative;
}

.chat-container .chat-overlay{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(100,100,100,0.5);
}

.chat-container .chat-rating-container{
	font-size:30px;
}

.chat-container .chat-notification{
	height:40px;
	width:100%;
	position:absolute;
	bottom:0;
	left:5px;
}
.chat-send-btn{
	height: 34px;
	padding-top: 3px;
}

.chat-dialog-box{
	padding:15px;
	text-align: center;
	color:#fff;
	background:rgba(51, 51, 51,0.5);
	height:100%;
	width:100%;
	position:relative;
}

.chat-dialog-box ul li{
	list-style:none;
}

th { font-size: 13px; }
td { font-size: 13px; }

textarea { resize: none; }

p { font-family: arial;
	font-size: 14px;
}

section.content{
    font-family: arial;
    font-size: 16px;
}

div.form-group{
	word-wrap:break-word;
}

div.direct-chat-text{
	word-wrap:break-word;
}

div.box-body{
	word-wrap:break-word;
    white-space: pre-line;
}

/*i:hover {
  opacity: 0.6;
}*/

label.hover:hover {
  opacity: 0.6;
}





/*upload*/
.file-upload > input
{
    display: none;
}
/*end upload*/


/*Header*/
#main-navbar {
    margin-bottom: 0px;
}

#main-navbar .navbar-brand {
    margin-left: 5px;
    display: block;
    float: left;
    padding-left: 5px;
    color: #fff;
}

#main-navbar .navbar-seal {
    float: left;
    margin-top: 8px;
}

.region-top-bar #block-search-form {
    margin: 8px 5px 0px 5px;
    width: 100%;
    max-width: 155px;
    float: left;
}

/*End of Header*/

/*Header banner*/
.header-banner {
    background: url('../img/banner-bg.png') center -205px no-repeat;
    background-size: cover;
    width: 100%;
    height: 23%;
    overflow: hidden;
}

.master-head {
    padding: 20px 60px 20px 60px;
    width: 100%;
    float: left;
}

.master-head img {
    float: left;
}

.master-head-txt {
    display: block;
    height: 100%;
    float: left;
    padding: 0px 0px 0px 37px;
}

.master-head-txt h5 {
    margin-top: 14px;
    margin-bottom: 6px;
    font-family: 'TrajanPro-Bold';
    font-size: 14px;
    color: #222222;
}

.master-head-txt h1 {
    font-family: 'TrajanPro-Bold';
    font-size: 24px;
    color: #222222;
    border-top: 1px solid black;
    padding-top: 8px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.master-head-txt h4 {
    font-family: 'TrajanPro-Regular';
    font-size: 12px;
    color: #222222;
    margin-top: 5px;
    margin-bottom: 5px;
}