<html>
<head>
    <title>Error</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
        }

        body {

        }

        .notifications-container {

        }


    </style>

</head>
<body>
<div class="notifications-container">
    <%-data%>

</div>

</body>

</html>